<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <style>
 .custom{
   max-width: 50%;
   position: relative;
 left: 50px;
 }

  </style>
  <body>
      <div class="container border mt-5 p-4">
        <h2 class="m-4">Update Employee</h2>
        <div class="underline mt-4" style="border-bottom:solid rgb(225, 225, 225) ;padding-bottom: 7px;"></div>
          
            <form action="" method="POST" class="custom mt-4">{%csrf_token%}
            <label  class="form-label">First name</label>
            <input type="text" class="form-control" name="firstname" value={{employee.firstname}}>
            <label  class="form-label">Last name</label>
            <input type="text" class="form-control"  name="lastname" value={{employee.lastname}}>
            <label  class="form-label">Job Title</label>
            <input type="text" class="form-control" name="job" value={{employee.job}}>
            <a href="{%url 'home'%}"class="btn btn-secondary mt-4">Back</a>
          <button class="btn btn-primary mt-4 " type="submit">update</button>
        </form>
  </div>








    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

</html>